Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration

Path conditions:
  build:backend:docker: any of: backend/**/*
  build:backend:docker-acceptance: any of: backend/**/*
  test:backend:static: any of: backend/**/*.go
  test:backend:unit: any of: backend/**/*.go
  test:backend:acceptance: any of: backend/**/*
  test:backend:integration: any of: backend/**/*

test: Remove assertion about mac address being visible
  frontend/tests/e2e_tests/integration/05-deviceDetails.spec.ts
Due: none

chore(gui): Streamline configuration of e2e test client
  frontend/tests/e2e_tests/docker-compose.e2e-tests.yml
  frontend/tests/e2e_tests/dockerClient/mender-connect.json
  frontend/tests/e2e_tests/dockerClient/mender.json
  frontend/tests/e2e_tests/run
Due: none

test(gui): Add delay to keystrokes in e2e tests
  frontend/tests/e2e_tests/integration/03-files.spec.ts
Due: none

test(gui): Added `--local` and `--local-visual` convenience flags to e2e
  frontend/tests/e2e_tests/run
Due: none

fix: remove Audit log tab when tenant does not have audit log capability
  frontend/src/js/components/__snapshots__/app.test.js.snap
  frontend/src/js/components/__snapshots__/leftnav.test.js.snap
  frontend/src/js/components/leftnav.js
Due: none

ci(gui): Fix publish image references for versioned releases
  frontend/pipeline.yml
Due: none

ci: Remove job `publish:frontend:enterprise`
  frontend/pipeline.yml
Due: none

ci: Set default gitlab runner tag
  .gitlab-ci.yml
Due: none

ci: Collect and publish coverage for unit and acceptance tests
  .gitlab-ci.yml
  backend/services/deployments/tests/docker-compose.acceptance.yml
  backend/services/deviceauth/tests/docker-compose.acceptance.yml
  backend/services/deviceconfig/tests/docker-compose.acceptance.yml
  backend/services/deviceconnect/tests/docker-compose.acceptance.yml
  backend/services/inventory/tests/docker-compose.acceptance.yml
  backend/services/iot-manager/tests/docker-compose.acceptance.yml
  backend/services/reporting/tests/docker-compose.acceptance.yml
  backend/services/useradm/tests/docker-compose.acceptance.yml
  backend/services/workflows/tests/docker-compose.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration

chore: Assign default empty value to compose env variables
  backend/tests/docker-compose.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration

ci: Collect and publish integration tests coverage
  .gitlab-ci.yml
Due: none

test(integration): Instrument docker composition with coverage env
  backend/tests/integration/docker/docker-compose.backend-tests-enterprise.yml
  backend/tests/integration/docker/docker-compose.backend-tests.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration

ci: Fix typo in unit test script
  .gitlab-ci.yml
Due: none

chore: Run mongodb in replica set mode for dev/test environment
  compose/initdb/init.js
  docker-compose.yml
Due: none

fix: fixed an issue that prevented enterprise demo tenant creation
  README.md
Due: none

feat: new endpoint for listing deployments
  backend/services/deployments/api/http/api_deployments.go
  backend/services/deployments/api/http/api_deployments_test.go
  backend/services/deployments/api/http/routing.go
  backend/services/deployments/app/app.go
  backend/services/deployments/app/app_test.go
  backend/services/deployments/app/mocks/App.go
  backend/services/deployments/docs/management_api_v2.yml
  backend/services/deployments/model/deployment.go
  backend/services/deployments/store/datastore.go
  backend/services/deployments/store/mocks/DataStore.go
  backend/services/deployments/store/mongo/datastore_mongo.go
  backend/services/deployments/store/mongo/datastore_mongo_test.go
  backend/services/deployments/store/mongo/migration_1_2_17.go
  backend/services/deployments/store/mongo/migration_1_2_17_test.go
  backend/services/deployments/store/mongo/migrations.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: Add nats_uri to inventory and iot-manager services
  docker-compose.yml
Due: none

build(test): Force serialize unit tests for deviceauth
  backend/services/deviceauth/Makefile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration

chore: Add self-signed certificate to docker compose environment
  compose/certs/mender.crt
  compose/certs/mender.key
  compose/config/traefik/middlewares.yaml
  compose/config/traefik/tls.yaml
  docker-compose.yml
Due: none

test(deployments): listing deployments v2 endpoint test.
  backend/tests/integration/tests/test_deployments.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration

feat: new endpoint for listing deployments
  backend/services/deployments/api/http/api_deployments.go
  backend/services/deployments/api/http/api_deployments_test.go
  backend/services/deployments/api/http/routing.go
  backend/services/deployments/app/app.go
  backend/services/deployments/app/app_test.go
  backend/services/deployments/docs/management_api_v2.yml
  backend/services/deployments/model/deployment.go
  backend/services/deployments/store/datastore.go
  backend/services/deployments/store/mocks/DataStore.go
  backend/services/deployments/store/mongo/datastore_mongo.go
  backend/services/deployments/store/mongo/datastore_mongo_test.go
  backend/services/deployments/store/mongo/deployments_external_test.go
  backend/services/deployments/store/mongo/migration_1_2_17.go
  backend/services/deployments/store/mongo/migration_1_2_17_test.go
  backend/services/deployments/store/mongo/migrations.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: Add certificate chain to deployments, useradm and workflows
  backend/services/deployments/Dockerfile
  backend/services/useradm/Dockerfile
  backend/services/workflows/Dockerfile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration

feat: tenant list added
  frontend/.eslintrc
  frontend/src/js/components/common/list.tsx
  frontend/src/js/components/common/loader.tsx
  frontend/src/js/components/devices/devicelist.js
  frontend/src/js/components/devices/devicelist.test.js
  frontend/src/js/components/devices/devicelistitem.js
  frontend/src/js/components/devices/devicelistitem.test.js
  frontend/src/js/components/tenants/expanded-tenant.tsx
  frontend/src/js/components/tenants/tenantlist.tsx
  frontend/src/js/components/tenants/types.ts
  frontend/src/js/store/organizationSlice/constants.ts
  frontend/src/js/store/organizationSlice/index.ts
  frontend/src/js/store/organizationSlice/selectors.ts
  frontend/src/js/store/organizationSlice/thunks.ts
  frontend/src/js/store/store.ts
Due: none

test: additional
  backend/tests/integration/tests/test_deployments.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration

refac(deployments): reduce cyclomatic complexity of FindDeployments method
  backend/services/deployments/store/mongo/datastore_mongo.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: Add docker client to compose environment and change network aliases
  docker-compose.yml
Due: none

docs: Add snippet for starting a mender client to README
  README.md
Due: none

chore: Mount volume `mongo` on predefined volume path
  docker-compose.yml
Due: none

ci: add changelog generator
  .gitignore
  .gitlab-ci.yml
  .release-please-manifest.json
  commitlint.config.js
  release-please-config.json
Due: none

fix(deviceconfig): enable multiplatform build
  backend/services/deviceconfig/Dockerfile
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration

chore(docker): Use `main` tag by default
  .env
Due: none

chore(docker): Remove hard-coded entrypoint in routes and define default
  compose/docker-compose.enterprise.yml
  docker-compose.yml
Due: none

chore(deployment): Adjust correct version constraint for GET /releases
  backend/services/deployments/store/mongo/datastore_mongo.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration

docs: Add section about testing build artifacts
  README.md
Due: none

ci: Use same naming convention for internal (Gitlab) images
  frontend/pipeline.yml
Due: none

feat: added service provider tenant UI and routes
  frontend/src/js/components/app.js
  frontend/src/js/components/header/header.js
  frontend/src/js/components/leftnav.js
  frontend/src/js/config/routes.js
  frontend/src/js/store/organizationSlice/selectors.ts
  frontend/src/js/store/store.ts
Due: none

chore(gui): extended & slightly simplified form validation
  frontend/src/js/components/common/forms/form.js
  frontend/src/js/components/common/forms/textinput.js
Due: none

chore(gui): added reusable details indicator
  frontend/src/js/components/common/detailsindicator.tsx
  frontend/src/less/main.less
Due: none
