Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration

build:backend:docker:
  stage: build
  needs: []
  tags:
  - hetzner-amd-beefy
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_BUILDARGS: --push
  before_script:
  ...

build:backend:docker-acceptance:
  stage: build
  needs: []
  tags:
  - hetzner-amd-beefy
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_BUILDARGS: --push
  before_script:
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:unit:
  image: ${CI_REGISTRY_IMAGE}/deployments:${MENDER_IMAGE_TAG_BUILDER}
  stage: test
  needs:
  - job: build:backend:docker
    artifacts: false
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:6.0
    alias: mongo
  variables:
    TEST_MONGO_URL: mongodb://mongo
  ...

test:backend:acceptance:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  stage: test
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  needs:
  - job: build:backend:docker
    artifacts: false
  ...

test:backend:integration:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  stage: test
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  needs:
  - job: build:backend:docker
    artifacts: false
  ...

feat: added url support for multiple sorting criteria
  frontend/src/js/utils/locationutils.js
  frontend/src/js/utils/locationutils.test.js
Due: none

fix: fixed regression that broke state based navigation for all post-init interactions
  frontend/src/js/components/devices/device-groups.js
Due: none

chore: aligned auditlog sorting indication with rest of the UI
  frontend/src/js/components/auditlogs/__snapshots__/auditlogs.test.js.snap
  frontend/src/js/components/auditlogs/__snapshots__/auditlogslist.test.js.snap
  frontend/src/js/components/auditlogs/auditlogslist.js
Due: none

feat: added multi sorting capabilities to devices view
  frontend/src/js/components/common/detailstable.js
  frontend/src/js/components/devices/__snapshots__/device-groups.test.js.snap
  frontend/src/js/components/devices/__snapshots__/devicelist.test.js.snap
  frontend/src/js/components/devices/authorized-devices.js
  frontend/src/js/components/devices/devicelist.js
  frontend/src/js/components/devices/devicelist.test.js
  frontend/src/js/components/releases/__snapshots__/releases.test.js.snap
  frontend/src/js/components/releases/__snapshots__/releaseslist.test.js.snap
  frontend/src/js/components/releases/releaseslist.js
  frontend/src/js/components/releases/releaseslist.test.js
  frontend/src/js/store/appSlice/constants.ts
  frontend/src/js/store/releasesSlice/thunks.ts
  frontend/src/less/main.less
Due: none

chore: adopted unified sort icon where easily possible
  frontend/src/js/components/auditlogs/__snapshots__/auditlogs.test.js.snap
  frontend/src/js/components/auditlogs/__snapshots__/auditlogslist.test.js.snap
  frontend/src/js/components/auditlogs/auditlogslist.js
  frontend/src/js/components/common/sorticon.js
  frontend/src/js/components/releases/releasedetails.js
  frontend/src/js/components/search-result.js
Due: none

chore: aligned search view with reality of absent sorting powers
  frontend/src/js/components/search-result.js
Due: none

chore: aligned sort state shape with updated url handling where possible
  frontend/src/js/components/auditlogs/auditlogs.js
  frontend/src/js/components/devices/device-groups.js
  frontend/src/js/components/releases/releases.js
  frontend/src/js/components/search-result.js
  frontend/src/js/store/appSlice/index.ts
  frontend/src/js/store/appSlice/reducer.test.ts
  frontend/src/js/store/appSlice/thunks.ts
  frontend/src/js/store/deploymentsSlice/constants.ts
  frontend/src/js/store/devicesSlice/index.ts
  frontend/src/js/store/devicesSlice/thunks.tsx
  frontend/src/js/store/usersSlice/thunks.test.ts
  frontend/src/js/store/utils.ts
  frontend/tests/mockData.js
Due: none

build(make): Split MENDER_PUBLISH_REGISTRY into registry and repository
  backend/Makefile
  backend/services/Makefile.common
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration

fix: added path for all devices on device page
  frontend/src/js/components/devices/base-devices.js
  frontend/src/js/components/devices/device-groups.js
  frontend/src/js/utils/locationutils.js
Due: none

chore: reverted eslint to compatible version
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: extended dev time lint config to also include ts files
  frontend/src/js/store/devicesSlice/thunks.tsx
  frontend/webpack.config.js
Due: none

chore: changed license checking base image to one compatible w/ updated dependencies
  frontend/pipeline.yml
Due: none

feat: added feedback collection likelyhood adjustment parameter
  frontend/entrypoint.sh
  frontend/src/js/store/appSlice/index.ts
  frontend/src/js/store/storehooks.ts
Due: none

feat: Add `version` command to all Go binaries
  backend/pkg/version/version.go
  backend/services/Makefile.common
  backend/services/create-artifact-worker/cmd/root.go
  backend/services/deployments/main.go
  backend/services/deviceauth/main.go
  backend/services/deviceconfig/main.go
  backend/services/deviceconnect/main.go
  backend/services/inventory/main.go
  backend/services/iot-manager/main.go
  backend/services/reporting/main.go
  backend/services/useradm/main.go
  backend/services/workflows/main.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration

revert: Change docker entrypoint to launch workflows worker
  backend/services/create-artifact-worker/Dockerfile
  dev/docker-compose.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration

chore: Use the correct license (Apache 2.0)
  LICENSE
Due: none

ci: Add `publish:backend:licenses` for protected branches
  .gitlab-ci.yml
  backend/tests/go-licenses.gotpl
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration

ci: add changelog generator
  .gitignore
  .gitlab-ci.yml
  .release-please-manifest.json
  release-please-config.json
Due: none

ci: added commitlint
  .gitlab-ci.yml
  commitlint.config.js
Due: none

fix(gui): fixed an issue that could prevent downloading files from a device
  frontend/src/js/components/devices/device-details/connection.js
Due: none

fix(gui): fixed an issue that could prevent browsers from following programmatically triggered downloads
  frontend/src/js/store/devicesSlice/thunks.test.tsx
  frontend/src/js/store/devicesSlice/thunks.tsx
  frontend/src/js/store/organizationSlice/thunks.test.ts
  frontend/src/js/store/organizationSlice/thunks.ts
Due: none

chore(backend-tests-dependencies): ignore bravado update
  .github/dependabot.yml
  backend/tests/requirements-acceptance.txt
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration

ci: Add build constraint to license generation
  .gitlab-ci.yml
Due: none

feat: added device limit component
  frontend/.eslintrc
  frontend/src/js/components/header/devicecount.tsx
Due: none

feat: added feedback dialog
  frontend/entrypoint.sh
  frontend/src/js/components/app.js
  frontend/src/js/components/common/dialogs/feedback.test.js
  frontend/src/js/components/common/dialogs/feedback.tsx
  frontend/src/js/components/header/header.js
  frontend/src/js/store/appSlice/index.ts
  frontend/src/js/store/storehooks.test.tsx
  frontend/src/js/store/storehooks.ts
  frontend/src/js/store/usersSlice/index.ts
  frontend/src/js/store/usersSlice/thunks.ts
  frontend/tests/setupTests.js
Due: none

feat: new endpoint for listing deployments
  backend/services/deployments/api/http/api_deployments.go
  backend/services/deployments/api/http/api_deployments_test.go
  backend/services/deployments/api/http/routing.go
  backend/services/deployments/app/app.go
  backend/services/deployments/app/app_test.go
  backend/services/deployments/app/mocks/App.go
  backend/services/deployments/docs/management_api_v2.yml
  backend/services/deployments/model/deployment.go
  backend/services/deployments/store/datastore.go
  backend/services/deployments/store/mocks/DataStore.go
  backend/services/deployments/store/mongo/datastore_mongo.go
  backend/services/deployments/store/mongo/datastore_mongo_test.go
  backend/services/deployments/store/mongo/migration_1_2_17.go
  backend/services/deployments/store/mongo/migration_1_2_17_test.go
  backend/services/deployments/store/mongo/migrations.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: Update image references for frontend:acceptance tests
  frontend/pipeline.yml
  frontend/tests/e2e_tests/docker-compose.e2e-tests.enterprise.yml
  frontend/tests/e2e_tests/docker-compose.e2e-tests.yml
Due: none

chore: Document hidden --enterprise flag in frontend/e2e_tests/run
  frontend/tests/e2e_tests/run
Due: none

chore: Add sensible diffault to env variables in frontend/e2e_tests/run
  frontend/tests/e2e_tests/run
Due: none

test(workflows): Fix compose file reference in extends attribute
  backend/services/workflows/tests/docker-compose.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration

build(make): Align image reference variables with docker compose spec
  .gitlab-ci.yml
  backend/Makefile
  backend/services/Makefile.common
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration

test: Align image references for acceptance test overrides
  backend/services/deployments/tests/docker-compose.acceptance.yml
  backend/services/deviceauth/tests/docker-compose.acceptance.yml
  backend/services/deviceconfig/tests/docker-compose.acceptance.yml
  backend/services/deviceconnect/tests/docker-compose.acceptance.yml
  backend/services/inventory/tests/docker-compose.acceptance.yml
  backend/services/iot-manager/tests/docker-compose.acceptance.yml
  backend/services/reporting/tests/docker-compose.acceptance.yml
  backend/services/useradm/tests/docker-compose.acceptance.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration

refac: Move docker-compose.yml to root and add enterprise override
  backend/services/workflows/tests/docker-compose.yml
  backend/tests/docker-compose.yml
  compose/config/mender.pem
  compose/config/s3.conf
  compose/config/traefik.middlewares.yaml
  compose/docker-compose.enterprise.yml
  docker-compose.yml
  frontend/tests/e2e_tests/docker-compose.e2e-tests.yml
  frontend/tests/e2e_tests/run
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration

docs: Update README.md with instructions on using the docker composition
  README.md
Due: none

test(e2e): Allow end-to-end tests to run on unprivileged containers
  frontend/tests/e2e_tests/docker-compose.e2e-tests.enterprise.yml
  frontend/tests/e2e_tests/docker-compose.e2e-tests.yml
  frontend/tests/e2e_tests/dockerClient/identity.sh
  frontend/tests/e2e_tests/run
Due: none

ci: Run test:frontend:acceptance on unprivileged host
  frontend/pipeline.yml
Due: none

ci: Update image references for test:frontend:acceptance*
  frontend/pipeline.yml
Due: none

chore: Dump logs on failure in cleanup hook
  frontend/tests/e2e_tests/run
Due: none

test: Refactor e2e run and docker-compose script for enterprise
  frontend/tests/e2e_tests/docker-compose.e2e-tests.enterprise.yml
  frontend/tests/e2e_tests/docker-compose.e2e-tests.yml
  frontend/tests/e2e_tests/run
Due: none

Path conditions:
  build:backend:docker: any of: backend/**/*
  build:backend:docker-acceptance: any of: backend/**/*
  test:backend:static: any of: backend/**/*.go
  test:backend:unit: any of: backend/**/*.go
  test:backend:acceptance: any of: backend/**/*
  test:backend:integration: any of: backend/**/*
