Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration

build:backend:docker:
  stage: build
  needs: []
  tags:
  - hetzner-amd-beefy
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
  ...

test:backend:static:
  stage: test
  needs: []
  image: golangci/golangci-lint:${IMAGE_GOLANGCI_VERSION}
  script:
  - cd backend
  - golangci-lint run -v

test:backend:unit:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/golang:${GOLANG_VERSION}-bullseye
  stage: test
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/mongo:6.0
    alias: mongo
  variables:
    TEST_MONGO_URL: mongodb://mongo
  ...

test:backend:acceptance:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  stage: test
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  needs:
  - job: build:backend:docker
    artifacts: false
  ...

test:backend:integration:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-cli
  stage: test
  tags:
  - hetzner-amd-beefy
  services:
  - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
    alias: docker
  needs:
  - job: build:backend:docker
    artifacts: false
  ...

test(acceptance): Use separate env variable for test image
  backend/Makefile
  backend/services/Makefile.common
  backend/services/deployments/tests/docker-compose.acceptance.yml
  backend/services/deviceauth/tests/docker-compose.acceptance.yml
  backend/services/deviceconfig/tests/docker-compose.acceptance.yml
  backend/services/deviceconnect/tests/docker-compose.acceptance.yml
  backend/services/inventory/tests/docker-compose.acceptance.yml
  backend/services/iot-manager/tests/docker-compose.acceptance.yml
  backend/services/reporting/tests/docker-compose.acceptance.yml
  backend/services/useradm/tests/docker-compose.acceptance.yml
  backend/services/workflows/tests/docker-compose.yml
Due: build:backend:docker, test:backend:unit, test:backend:acceptance, test:backend:integration

build(make): Fix acceptance test targets after refactor
  backend/services/Makefile.common
  backend/services/create-artifact-worker/Makefile
  backend/services/deployments/tests/docker-compose.acceptance.yml
  backend/services/deviceauth/tests/docker-compose.acceptance.yml
  backend/services/deviceconfig/Makefile
  backend/services/deviceconfig/tests/docker-compose.acceptance.yml
  backend/services/deviceconnect/Makefile
  backend/services/deviceconnect/tests/docker-compose.acceptance.yml
  backend/services/inventory/tests/docker-compose.acceptance.yml
  backend/services/iot-manager/Makefile
  backend/services/iot-manager/tests/docker-compose.acceptance.yml
  backend/services/reporting/Makefile
  backend/services/reporting/tests/docker-compose.acceptance.yml
  backend/services/useradm/tests/docker-compose.acceptance.yml
  backend/services/workflows/tests/docker-compose.yml
Due: build:backend:docker, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: Update build stage to build container images
  .gitlab-ci.yml
Due: none

ci: Consistently use the same Docker version in all jobs
  .gitlab-ci.yml
Due: none

chore(dev): Remove pull_policy from development composition
  backend/services/workflows/tests/docker-compose.yml
  dev/docker-compose.yml
Due: build:backend:docker, test:backend:unit, test:backend:acceptance, test:backend:integration

build(make): `test-unit` target runs in same environment as build
  backend/services/Makefile.common
Due: build:backend:docker, test:backend:unit, test:backend:acceptance, test:backend:integration

build(make): Rename DOCKER_ARGS to DOCKER_BUILDARGS, TAGS to BUILDTAGS
  .gitlab-ci.yml
  backend/services/Makefile.common
  backend/services/deployments/Makefile
Due: build:backend:docker, test:backend:unit, test:backend:acceptance, test:backend:integration

build(docker): Build images on BUILDPLATFORM
  backend/services/deployments/Dockerfile
  backend/services/deviceauth/Dockerfile
  backend/services/deviceconfig/Dockerfile
  backend/services/deviceconnect/Dockerfile
  backend/services/inventory/Dockerfile
  backend/services/iot-manager/Dockerfile
  backend/services/reporting/Dockerfile
  backend/services/useradm/Dockerfile
  backend/services/workflows/Dockerfile
Due: build:backend:docker, test:backend:unit, test:backend:acceptance, test:backend:integration

test(acceptance): Add registry env variables to acceptance test image
  backend/tests/docker-compose.yml
Due: build:backend:docker, test:backend:unit, test:backend:acceptance, test:backend:integration

build(make): Change TAGS behavior to always include required build tags
  backend/services/Makefile.common
  backend/services/deployments/Makefile
Due: build:backend:docker, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: Do not rebuild acceptance test images in test job
  .gitlab-ci.yml
Due: none

build(make): Run acceptance tests without rebuilding the containers
  backend/Makefile
  backend/services/Makefile.common
  backend/services/deviceconfig/Makefile
  backend/services/deviceconnect/Makefile
  backend/services/iot-manager/Makefile
Due: build:backend:docker, test:backend:unit, test:backend:acceptance, test:backend:integration

build(make): Define DOCKER_PLATFORM template as multiline variable
  backend/services/Makefile.common
Due: build:backend:docker, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: Build coverage images in parallel
  .gitlab-ci.yml
Due: none

ci: Pull images in acceptance tests job
  .gitlab-ci.yml
Due: none

build(make): Add `docker-pull` target for pulling images
  backend/Makefile
  backend/services/Makefile.common
Due: build:backend:docker, test:backend:unit, test:backend:acceptance, test:backend:integration

build(make): Remove make 4.4 function `let`
  backend/services/Makefile.common
Due: build:backend:docker, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: Do not build multiplatform on PRs
  .gitlab-ci.yml
Due: none

build(make): Fix tag override for `docker-acceptance`
  backend/services/Makefile.common
Due: build:backend:docker, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: Skip backend unit tests if no sources changed
  .gitlab-ci.yml
Due: none

build(make): Added target `docker-publish` for publishing images
  backend/Makefile
  backend/services/Makefile.common
Due: build:backend:docker, test:backend:unit, test:backend:acceptance, test:backend:integration

feat: added option to limit deployments to a maximum number of devices in a dynamic group
  frontend/src/js/components/common/docslink.js
  frontend/src/js/components/deployments/__snapshots__/createdeployment.test.js.snap
  frontend/src/js/components/deployments/createdeployment.js
  frontend/src/js/components/deployments/createdeployment.test.js
  frontend/src/js/components/deployments/deployment-wizard/devicelimit.js
  frontend/src/js/components/deployments/deployments.test.js
Due: none

chore: slight layout adjustments to align with updated deployment report design
  frontend/src/js/components/deployments/__snapshots__/report.test.js.snap
  frontend/src/js/components/deployments/createdeployment.js
  frontend/src/js/components/deployments/deployment-report/__snapshots__/deploymentstatus.test.js.snap
  frontend/src/js/components/deployments/deployment-report/deploymentstatus.js
  frontend/src/js/components/deployments/deployment-wizard/softwaredevices.js
Due: none

ci: Added job `publish:backend:docker` for publishing images
  .gitlab-ci.yml
  backend/Makefile
Due: build:backend:docker, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: replaced momentjs with dayjs Ticket: MEN-6855 Changelog: None
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/actions/appActions.js
  frontend/src/js/components/app.js
  frontend/src/js/components/auditlogs/auditlogs.js
  frontend/src/js/components/auditlogs/auditlogs.test.js
  frontend/src/js/components/auditlogs/eventdetails/portforward.js
  frontend/src/js/components/auditlogs/eventdetails/terminalsession.js
  frontend/src/js/components/common/forms/timeframe-picker.js
  frontend/src/js/components/common/forms/timeframe-picker.test.js
  frontend/src/js/components/common/time.js
  frontend/src/js/components/deployments/createdeployment.js
  frontend/src/js/components/deployments/createdeployment.test.js
  frontend/src/js/components/deployments/deployment-report/phaseprogress.js
  frontend/src/js/components/deployments/deployment-report/rolloutschedule.js
  frontend/src/js/components/deployments/deployment-wizard/schedulerollout.js
  frontend/src/js/components/deployments/deployments.test.js
  frontend/src/js/components/deployments/pastdeployments.test.js
  frontend/src/js/components/deployments/progressChart.js
  frontend/src/js/components/deployments/report.js
  frontend/src/js/components/deployments/scheduleddeployments.js
  frontend/src/js/components/devices/device-details/__snapshots__/configuration.test.js.snap
  frontend/src/js/components/devices/troubleshoot/terminal-wrapper.js
  frontend/src/js/components/header/header.js
  frontend/src/js/components/header/trialnotification.js
  frontend/src/js/components/settings/organization/__snapshots__/organization.test.js.snap
  frontend/src/js/components/settings/organization/billing.js
  frontend/src/js/components/settings/organization/organization.js
  frontend/src/js/components/settings/organization/organization.test.js
  frontend/src/js/components/settings/upgrade.js
  frontend/tests/licenses/directDependencies.csv
Due: none

build(docker): Use make(1) when building inside docker images
  backend/services/create-artifact-worker/Dockerfile
  backend/services/deployments/Dockerfile
  backend/services/deviceauth/Dockerfile
  backend/services/deviceconfig/Dockerfile
  backend/services/deviceconnect/Dockerfile
  backend/services/inventory/Dockerfile
  backend/services/iot-manager/Dockerfile
  backend/services/reporting/Dockerfile
  backend/services/useradm/Dockerfile
  backend/services/workflows/Dockerfile
Due: build:backend:docker, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: Do not pin golang image for tests to bullseye
  .gitlab-ci.yml
Due: none

ci: Use same golang image for unit tests as building the images
  .gitlab-ci.yml
Due: none

chore: Bump alpine image version: 3.19.1 -> 3.20.2
  backend/services/create-artifact-worker/Dockerfile
Due: build:backend:docker, test:backend:unit, test:backend:acceptance, test:backend:integration

chore: Bump backend golang version: 1.23.0 -> 1.23.1
  backend/services/create-artifact-worker/Dockerfile
  backend/services/deployments/Dockerfile
  backend/services/deviceauth/Dockerfile
  backend/services/deviceconfig/Dockerfile
  backend/services/deviceconnect/Dockerfile
  backend/services/inventory/Dockerfile
  backend/services/iot-manager/Dockerfile
  backend/services/reporting/Dockerfile
  backend/services/useradm/Dockerfile
  backend/services/workflows/Dockerfile
Due: build:backend:docker, test:backend:unit, test:backend:acceptance, test:backend:integration

test: Fix race condition in deviceauth by testing packages serially
  backend/services/deviceauth/Makefile
Due: build:backend:docker, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: Always build and test backend on protected branches/tags
  .gitlab-ci.yml
Due: none

ci: Add NOASK option to docker-publish
  .gitlab-ci.yml
  backend/services/Makefile.common
Due: build:backend:docker, test:backend:unit, test:backend:acceptance, test:backend:integration

ci: made docker job reuse slightly easier + unified backend job naming
  .gitlab-ci.yml
Due: none

ci: move from public to private ci runners
  .gitlab-ci.yml
Due: none

chore: update dependabot configuration
  .github/dependabot.yml
Due: none

chore(workflows): Clean up unused MaybeExecuteGoTemplate
  backend/services/workflows/app/processor/string.go
  backend/services/workflows/app/worker/http.go
  backend/services/workflows/app/worker/http_test.go
  backend/services/workflows/app/worker/process.go
Due: build:backend:docker, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration

fix: removed unsupported required setting
  dev/docker-compose.yml
Due: none

ci: adapted gui jobs to changed repo setup & aligned e2e test setup
  .gitlab-ci.yml
  frontend/.gitlab-ci.yml
  frontend/package.json
  frontend/pipeline.yml
  frontend/tests/e2e_tests/docker-compose.e2e-tests.enterprise.yml
  frontend/tests/e2e_tests/docker-compose.e2e-tests.yml
  frontend/tests/e2e_tests/run
  frontend/tests/e2e_tests/utils/commands.ts
Due: none

ci: added client assumed certs to make backend work with demo client again
  frontend/tests/e2e_tests/config/traefik.cert.crt
  frontend/tests/e2e_tests/config/traefik.private.key
  frontend/tests/e2e_tests/config/traefik.tls.yaml
  frontend/tests/e2e_tests/docker-compose.e2e-tests.yml
Due: none

Path conditions:
  build:backend:docker: any of: backend/**/*
  test:backend:static: any of: backend/**/*.go
  test:backend:unit: any of: backend/**/*
  test:backend:acceptance: any of: backend/**/*
  test:backend:integration: any of: backend/**/*
